@use 'src/styles/variables.scss' as variables;

.form__input {
  width: 100%;
  height: 50px;

  margin-top: 20px;
  padding: 0 10px;

  outline: none;
  border: 2px solid variables.$gray;
  border-radius: 6px;

  box-shadow: variables.$gray 0px 0px 3px 0.2px;

  transition: 0.12s ease;

  &::placeholder {
    color: variables.$placeholder;
    font-size: variables.$regular;
  }

  &:focus {
    border-color: variables.$blue;
  }
}
