/* COLORS */
$white: #fff;
$blue: #018df7;
$blueTransparency: #018df780;
$black: #000;
$lightBlack: #333;
$gray: #d6d6d6;
$placeholder: #c6c6c6;

/* SIZES */
$slogan: 38px;
$mobileSlogan: 26px;
$title: 24px;
$text: 20px;
$regular: 16px;
$small: 12px;
