@use 'src/styles/variables.scss' as variables;

.contacts {
  width: 50%;

  padding: 25px;

  background-color: variables.$blue;

  @media screen and (max-width: 757px) {
    width: 100%;
  }

  @media screen and (max-width: 320px) {
    padding: 15px;
  }

  &__title {
    color: variables.$white;
    font-size: variables.$title;
    font-weight: 700;
  }

  &__contact:nth-child(2) {
    margin-top: 25px;
  }

  .contact {
    &:last-child {
      margin-top: 15px;
    }

    &__info {
      color: variables.$white;
      font-size: variables.$text;
    }

    @media screen and (max-width: 320px) {
      &__info {
        color: variables.$white;
        font-size: variables.$regular;
      } 
    }
  }
}
